# Node & Web
node_modules/
.next/
out/
build/
dist/
*.log

# Flutter & Mobile
mobile_app/.dart_tool/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/android/app/build/

# Python & Backend
__pycache__/
*.pyc
backend/venv/
backend/.env

# IDE, OS & Workflows
.github/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
